#btn-camera {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 52px;
    width: 52px;
    border-radius: 100%;
}

#location-status {
    position: fixed;
    bottom: 80px;
    right: 30px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

body {
    padding-top: 50px;
}

nav {
    margin-bottom: 0 !important;
}

#list-fotos {
    height: calc(100% - 52px);

    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    -webkit-column-gap:   2px;
    -moz-column-count:    2;
    -moz-column-gap:      2px;
    column-count:         2;
    column-gap:           2px;
}

#list-fotos img {
    margin-bottom: 2px;
    width: 100% !important;
    height: auto !important;
}